{% extends "auth_app/base.html" %}
{% block content %}
{% load static %}

	
	<div class="limiter">
		<div class="container-login100">
            <!-- popup and redirection after user logged in -->
            <script>
                swal("The Password Changed Succesfully.",{
                    icon : "success",
                    timer: 3000,
                    });
                setTimeout(
                    function () {window.location.href = "{%url 'login'  %}";},
                    3000);
            </script>
		</div>
	</div>
{% endblock %}